<% layout('layouts/boilerplate') %>

<h1>Profile</h1>

<h2>Login User</h2>
<%= loginUser.name %>

<hr>
add Follwer


<form action="http://localhost:3000/follower/<%= user.id %>" method="POST" >
    <div class="d-grid">
        <!-- <input type="hidden" name="follower" value="<%= user.id %>"> -->
        <button class="btn btn-success">add Follower</button>
    </div>
</form>

<hr>
<h2>followers</h2>

<% for(let data of follower) { %>
<ul>
    <li><a href="http://localhost:3000/user/<%= data.id %>"><%= data.name %></a></li>
</ul>
<% } %> 

<div style="display: flex;justify-content: space-evenly;">
<hr>

<div class="reviews">
<h2>posted reviews</h2>

<% for(let review of user.reviews) { %>
    <ul>
        <li><a href="http://localhost:3000/campgrounds/<%= review.campground_id %>"><%= review.rating %> : <%= review.campground.title %></a></li>
    </ul>
<% } %>
</div>

<div class="campgrounds">
<h2>posted campgrounds</h2>

<% for(let campground of user.campgrounds) { %>
    <ul>
        <li><a href="http://localhost:3000/campgrounds/<%= campground.id %>"><%= campground.title %></a></li>
    </ul>
<% } %>
</div>
</div>