<% layout('layouts/boilerplate') %>

Login User
<%= loginUser.id %> 
<%= loginUser.name %> 
<%= loginUser.email %> 

<hr>

ここは誰のユーザーページ？
<%= user.id %> <%= user.name %> <%= user.email %> 
<hr>
add Follwer


<form action="http://localhost:3000/follower/2" method="POST" >
    <div class="d-grid">
        <input type="hidden" name="follower" value="<%= user.id %>">
        <button class="btn btn-success">add Follower</button>
    </div>
</form>
<hr>
<br>

folowers
<hr>
<br>



<% for(let data of follower) { %>
<ul>
    <li><a href="http://localhost:3000/user/<%= data.id %>"><%= data.name %></a></li>
</ul>
<% } %> 