<% layout('layouts/boilerplate') %>


    

<h1>Profile</h1>
<div style="display: flex; align-items: center;">
<h2 style="margin-right: 20px;"> <img src="<%= user.img_path %>" alt="" srcset="" style="height: 60px;"> <%= user.name %></h2>

    <% if(loginUser.id !== user.id) { %> 
    <form action="http://localhost:3000/follower/<%= user.id %>" method="POST" >
        <div>
            <button class="btn btn-success" style="width: 130px;">add Follower</button>
        </div>
    </form>
    <% } %>

</div>
<div style="margin-top:40px;">
<h2>followers</h2>
</div>

<% for(let data of follower) { %>
    <%     console.log("JSON.stringify(user.follower, null, 2)", JSON.stringify(follower, null, 2)) %> 
<ul>
    <li style="list-style:none"> <img src="<%= data.img_path %>" alt="" srcset="" style="height: 45px;">  <a style="text-decoration:none;" href="/user/<%= data.id %>"><%= data.name %></a></li>
</ul>
<% } %> 

<div style="display: flex; margin-top: 40px;">
<hr>

<div class="reviews" style="margin-right: 30px;">
     
<h2><%= user.reviews.length %> posted reviews</h2>

<% if(user.reviews){ %> 


    <% for(let review of user.reviews) { %>

        <ul>
            <li  style="list-style:none"><a style="text-decoration:none;" href="http://localhost:3000/microposts/<%= review.micropost_id %>"><img src="<%= review.rating %>" alt="" srcset=""><%= review.rating %> : <%= review.micropost?.title %></a></li>
        </ul>
    <% } %>
    </div>
<% } %> 


<div class="microposts">
<h2><%= user.microposts.length %> posted microposts</h2>

<% if(user.microposts) {%> 
<% for(let micropost of user.microposts) { 
    let path = JSON.stringify(micropost.micropost_images[0]?.path)
    if(!path){ path="" }
    path = path.slice( 1 )
    path = path.slice( 0, -1 ) 
    %>
    <ul>
        <li style="list-style:none"><img src="<%= path %>" style='height: 35px;'> <a style="text-decoration:none;" href="http://localhost:3000/microposts/<%= micropost.id %>"><%= micropost.title %></a></li>
    </ul>
<% } %>
</div>
    <% } %> 
</div>
