<% layout('layouts/boilerplate') %>


    

<h1>Profile</h1>
<div style="display: flex; align-items: center;">
<h2 style="margin-right: 20px;"> <img src="<%= user.img_path %>" alt="" srcset="" style="height: 60px;"> <%= user.name %></h2>

    <% if(loginUser.id !== user.id) { %> 
    <form action="http://localhost:3000/follower/<%= user.id %>" method="POST" >
        <div>
            <!-- <input type="hidden" name="follower" value="<%= user.id %>"> -->
            <button class="btn btn-success" style="width: 130px;">add Follower</button>
        </div>
    </form>
    <% } %>

</div>
<div style="margin-top:40px;">
<h2>followers</h2>
</div>

<% for(let data of follower) { %>
<ul>
    <li style="list-style:none"> <img src="<%= data.img_path %>" alt="" srcset="" style="height: 45px;">  <a style="text-decoration:none;" href="http://localhost:3000/user/<%= data.id %>"><%= data.name %></a></li>
</ul>
<% } %> 

<div style="display: flex; margin-top: 40px;">
<hr>

<div class="reviews" style="margin-right: 30px;">
     
<h2><%= user.reviews.length %> posted reviews</h2>

<% if(user.reviews){ %> 
    <% for(let review of user.reviews) { %>
        <ul>
            <li  style="list-style:none"><a style="text-decoration:none;" href="http://localhost:3000/campgrounds/<%= review.campground_id %>"><img src="<%= review.rating %>" alt="" srcset=""><%= review.rating %> : <%= review.campground.title %></a></li>
        </ul>
    <% } %>
    </div>
<% } %> 


<div class="campgrounds">
<h2><%= user.campgrounds.length %> posted campgrounds</h2>

<% if(user.campgrounds) {%> 
<% for(let campground of user.campgrounds) { 
    let path = JSON.stringify(campground.campground_images[0]?.path)
    if(!path){ path="" }
    path = path.slice( 1 )
    path = path.slice( 0, -1 ) 
    %>
    <ul>
        <li style="list-style:none"><img src="<%= path %>" style='height: 35px;'> <a style="text-decoration:none;" href="http://localhost:3000/campgrounds/<%= campground.id %>"><%= campground.title %></a></li>
    </ul>
<% } %>
</div>
    <% } %> 
</div>

<div style="background-color: darkgray; margin-bottom: 20px;">
    <h4>Login User</h4>
    <%= loginUser.name %>
</div>