<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">お湯処の編集</h1>
    <div class="offset-3 col-6">
        <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">タイトル</label>
                <input class="form-control" type="text" name="title" id="title"
                    value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">場所</label>
                <input class="form-control" type="text" name="location" id="location"
                    value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">平均価格</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">¥</span>
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="平均価格"
                        aria-describedby="price-label" name="price" value="<%= campground.price %>"
                        required>
                    <div class="valid-feedback">
                        OK!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">説明</label>
                <textarea class="form-control" type="text" name="description" id="description"
                    required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label mb-2">画像の再アップロード</label>
                <input class="form-control mt-2 mb-2" type="file" id="image" name="image">

                <!-- <img class="img-fluid border" src="<%= campground.campground_images[0]?.path %>" alt="">
                <img class="img-fluid border" src="<%= campground.campground_images[1]?.path %>" alt="">
                <img class="img-fluid border" src="<%= campground.campground_images[2]?.path %>" alt=""> -->
                <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% campground.campground_images.forEach((img, i) => { %>
                        <div class="carousel-item <%= i === 0 ? 'active': '' %>">
                            <img src="<%= img.path %>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                    </div>
                    <% if(campground.campground_images.length > 1) { %> 
                    <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %> 
                </div>

            </div>
            <div class="mb-3">
                <button class="btn btn-info">更新する</button>
            </div>

        </form>
        <a href="/campgrounds">一覧に戻る</a>
    </div>
</div>