<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">お湯処の編集</h1>
    <div class="offset-3 col-6">
        <form action="/microposts/<%= micropost.id %>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">タイトル</label>
                <input class="form-control" type="text" name="title" id="title"
                    value="<%= micropost.title %>" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">場所</label>
                <input class="form-control" type="text" name="location" id="location"
                    value="<%= micropost.location %>" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">平均価格</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">¥</span>
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="平均価格"
                        aria-describedby="price-label" name="price" value="<%= micropost.price %>"
                        required>
                    <div class="valid-feedback">
                        OK!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">説明</label>
                <textarea class="form-control" type="text" name="description" id="description"
                    required><%= micropost.description %></textarea>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">画像の追加アップロード</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <% micropost.micropost_images.forEach(function(img, i) { %>
                    <img src="<%= img.path %>" class="img-thumbnail" alt=""  style="height: 250px;">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">削除する</label>
                <% }) %>
            </div>
            <p>タグ（複数回答可）: 
                <input type="checkbox" name="tag[]" value="white" <% if(JSON.parse(micropost.tag).includes("white")){ %> checked="checked" <% } %>>白
                <input type="checkbox" name="tag[]" value="black" <% if(JSON.parse(micropost.tag).includes("black")){ %> checked="checked" <% } %>>黒
                <input type="checkbox" name="tag[]" value="red" <% if(JSON.parse(micropost.tag).includes("red")){ %> checked="checked" <% } %>>赤
                <input type="checkbox" name="tag[]" value="blue" <% if(JSON.parse(micropost.tag).includes("blue")){ %> checked="checked" <% } %>>青
                <input type="checkbox" name="tag[]" value="green" <% if(JSON.parse(micropost.tag).includes("green")){ %> checked="checked" <% } %>>緑
            </p>
            <div class="mb-3">
                <button class="btn btn-info">更新する</button>
            </div>

        </form>
        <a href="/microposts">一覧に戻る</a>
    </div>
</div>