<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% micropost.micropost_images.forEach((img, i) => { %>
                <div class="carousel-item <%= i === 0 ? 'active': '' %>">
                    <img src="<%= img.path %>" class="d-block w-100" alt="">
                </div>
                <% }) %>
            </div>
            <% if(micropost.micropost_images.length > 1) { %>
            <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= micropost.title %></h5>
                <p class="card-text"><%= micropost.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= micropost.location %></li>
                <li class="list-group-item text-muted">
                    <% tagJSON.forEach((val)=> { %>                 
                        <span style="margin-right: 10px;">
                            <input type="checkbox" name="tag[]" value="<%= val.tag %>" <% 
                            if(micropost.tag && JSON.parse(micropost.tag).includes(val.tag))
                                { %> checked="checked" disabled="disabled" <% } else 
                                { %> disabled="disabled" <% } %>><%= val.name %>
                        </span>
                    <% }) %>
                </li>

                <li class="list-group-item">登録者：<%= micropost.user?.name %></li>
                <li class="list-group-item">¥<%= micropost.price %>/泊</li>
            </ul>
            <% if(currentUser && micropost.user?.id == currentUser.id) { %>
            <div class="card-body">
                <a class="btn btn-info" href="/microposts/<%= micropost.id %>/edit">編集する</a>
                <form class="d-inline" action="/microposts/<%= micropost.id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">削除する</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id='map' style='width: 400px; height: 300px;'></div>
        <% if(currentUser) { %>
        <h2>レビュー</h2>
        <form action="/microposts/<%= micropost.id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div>
                <fieldset class="starability-basic">
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="１">評価1</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="２">評価2</label>
                    <input type="radio" id="first-rate3" name="rating" checked value="3" />
                    <label for="first-rate3" title="３">評価3</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="４">評価4</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="５">評価5</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">コメント</label>
                <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <button class="btn btn-success">投稿する</button>
        </form>
        <% } %>
        <% for (let review of micropost.reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= review.user.name %></h5>
                <p class="starability-result" data-rating="<%= review.rating %>">
                    評価: <%= review.rating %>
                </p>
                <p class="card-text">コメント：<%= review.body %></p>
                <% if(currentUser && review.user.id == currentUser.id) { %>
                <form action="/microposts/<%= micropost.id %>/reviews/<%= review.id %>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-sm btn-danger">削除する</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>

<script>
    const mapToken = '<%= process.env.MAPBOX_TOKEN %>'
    const micropost = '<%- JSON.stringify(micropost) %>'
    const coordinatesJSON = '<%- JSON.stringify(coordinates) %>'
    const coordinates = JSON.parse(coordinatesJSON)

    mapboxgl.accessToken = mapToken;

    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/light-v10', // style URL
        center: coordinates, // starting position [lng, lat]
        zoom: 15 // starting zoom
    });

    new mapboxgl.Marker()
        .setLngLat(coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 })
            // .setHTML(`<h4>${micropost.title}</h4><p>${micropost.location}</p>`)
        )
        .addTo(map);
</script>
<script src="/javascripts/showPageMap.js"></script>